/* Stili di lista */
ul.bullet{
  margin-bottom: 20px;
} 

ul.bullet li{
    list-style: " - ";
    margin-left: 20px;
}

ul.bullet li a{
  font-weight: 600;
  color: #3F51B5;
}

ul.small, .ul.small {
  font-size: 16px;
  letter-spacing: -0.011em;
}

/* resize button */
.button.mini {
    max-width: 75%;
}

/* testo allineato in alto rispetto al container */
.container .wrap-top {
    display: table-cell;
    text-align: center;
    vertical-align: top;
    overflow: hidden;
  }
  .container .wrap-top:not(.noSpaces), .container .wrap.spaceWrap,
  .container .wrap-top .spaceWrap {
    padding: 120px calc(8% + 15px);
  }
  .container .wrap-top .overflowHidden {
    overflow: hidden;
  }

  .container .wrap-top * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

    
  /* schedine temi di ricerca tutte della stessa altezza della più grande */
  .slider.clickable.animated.margin-bottom-2.ae-1.fadeIn.swiper-98.box-77.pad.done.animateOnEvent {
    min-height: 50vh;
  }

  .inline {
    display: block;
  }
